Source: python-keystoneclient
Section: python
Priority: extra
Maintainer: Chuck Short <zulcss@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0),
 python-all (>= 2.6.6-3~),
 python-babel,
 python-coverage,
 python-crypto,
 python-pbr,
 python-fixtures,
 python-keyring,
 python-httpretty,
 python-iso8601,
 python-oslo.config,
 python-mock,
 python-mox3,
 python-netaddr,
 python-prettytable,
 python-requests (>= 1.1.0),
 python-setuptools,
 python-simplejson,
 python-six,
 python-testtools,
 python-webob,
 testrepository
Standards-Version: 3.9.4
Vcs-Browser: http://bazaar.launchpad.net/~ubuntu-server-dev/python-keystoneclient/juno/files
Vcs-Bzr: https://code.launchpad.net/~ubuntu-server-dev/python-keystoneclient/juno
XS-Testsuite: autopkgtest

Package: python-keystoneclient
Architecture: all
Depends: python-iso8601,
 python-pkg-resources,
 python-requests (>= 1.1.0),
 ${misc:Depends},
 ${python:Depends}
Description: Client library for OpenStack Identity API
 This is a client for the OpenStack Identity API. There's a Python API
 (the ``keystoneclient`` module), and a command-line script (``keystone``).
